# Node modules
node_modules/
npm-debug.log

# Environment variables
.env
.env.local

# Build output (untuk React nanti)
dist/
build/

# IDE/OS files
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
